// load only the necessary bootstrap files
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';
@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/grid';
@import '../../../node_modules/bootstrap/scss/nav';
@import '../../../node_modules/bootstrap/scss/pagination';
@import '../../../node_modules/bootstrap/scss/badge';

// load the highlight.js style of choice
@import '../../../node_modules/highlight.js/styles/atom-one-dark.css';

$separatorColor: #e5e5e5;
$separator: 0.0625rem solid $separatorColor;
$headerFooterPadding: 2.53125em 0;
$primary: #2bc175;

body {
  color: #666;
}

code {
  background: #efefef;
  color: #666;
  font-family: Consolas, "Courier New", Courier, monospace;
  hyphens: none;
}

h1, h2, h3, h4, h5 {
  color: #333;
  font-weight: bold;

  code {
    color: #333;
  }
}

a {
  color: $primary;

  &:focus, &:hover {
    color: #666;
    text-decoration: none;
  }
}

.page-link {
  color: $primary;
}

header {
  border-bottom: $separator;
  padding: $headerFooterPadding;

  h1 {
    a, a:hover, a.active, a:active, a:focus {
      color: #333;
      font-size: 2.5625rem;
      text-decoration: none;
    }
  }
}

div#content {
  padding: 4.21875em 0;

  .content-body {
    @media (min-width: 768px) {
      border-right: $separator;
    }
  }

  #sidebar {
    padding: 0 1rem;

    h3 {
      font-size: 1.5rem;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }

    ul.social-list {
      padding-left: 0;
      list-style: none;
    }
  }

  .post {
    img {
      max-width: 100%;
    }

    .header-image {
      margin-bottom: 10px;
    }

    h2 a {
      font-size: 1.75rem;
      color: #333;

      &:hover {
        color: $primary;
      }
    }
    .post-body {
      margin-top: 1.5rem;
    }
  }

  ul.post.index {
    list-style: none;
    padding-left: 0;

    li {
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: $separator;
      }
    }
  }

  .metadata {
    .date {
      font-weight: 500;
      font-size: 80%;
      margin-right: 1rem;
    }
  }
}

footer {
  border-top: $separator;
  padding: $headerFooterPadding;
  display: flex;
  align-items: center;

  .copyright {
    margin-left: 15px;
  }
}
