{% extends 'layouts.app' %}

{% block page_title_prefix %}{{ page.title }}{% endblock %}


{% block content %}
    <h2>{{ page.title }}</h2>
    <div class="page-content">
        {{ page.body|raw }}
    </div>
    <small class="text-muted">
        Last updated on {{ page.updated_at|date('F d, Y') }}
    </small>
{% endblock %}
